body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ml-05 {
  margin-left: 5px;
}

.fw-500 {
  font-weight: 600!important;
  text-align: center;
}

.box-shadow {
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.toggle-sidebar-svg {
  font-size: 25px!important;
}

.mt-0 {
  margin-top: 0!important;
}

.pt-5 {
  padding-top: 5px!important;
}

.pb-0-pb-16 {
  padding-bottom: 0;
  padding-top: 16px!important;
}

.sidebar-item {
  font-size: 16px;
}

.mt-10 {
  margin-top: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mt-30 {
  margin-top: 30px;
}

.mt-05 {
  margin-top: 5px;
}

.blue-on-hover:hover {
  background-color: rgba(12, 219, 255, 0.09);
  color: rgb(12, 186, 255);
}

@media (max-width: 450px) {
  .mobile-text {
    font-size: 10px;
  }
  .mobile-no-x-padding {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .mobile-x-padding-5 {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}

@media (max-width: 350px) {
  .mobile-text {
    font-size: 9px;
  }
  .mobile-no-x-padding {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .mobile-x-padding-5 {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}

.card-link {
  cursor: pointer!important;
}

.text-white-hover:hover {
  color: white!important;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.close-btn {
  padding: 0!important;
}

.p-20 {
  padding: 20px;
}

.menu-dropdown button {
  border-radius: 0;
}

.Toastify__toast {
  min-height: 0;
}