.mr-0 {
    margin-right: 0!important;
}

.pr-0 {
    padding-right: 0!important;
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.mx-10 {
    margin-right: 10px;
    margin-left: 10px;
}

body {
    background-color: #f3f8fb!important;
}

@-moz-document url-prefix() {
    #root {
        overflow-y: scroll;
    }
}

#root {
    overflow-x: hidden;
    min-width: 700px;
    min-height: 250px;
}

.ml-05 {
    margin-left: 5px;
}

.fw-500 {
    font-weight: 500!important;
}

.fw-600 {
    font-weight: 600!important;
}

.mainheader-area {
    border-bottom: 1px solid #d8e3e7;
}

.mt-20 {
    margin-top: 20px;
}

.p-0 {
    padding: 0!important;
}

.mt-05 {
    margin-top: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.session-window {
    padding-left: 0;
    padding-right: 0;
}

.session-window:not(:first-child) {
    margin-top: 12px;
}

.session-window .list-group {
    border-radius: 0;
}

.session-window .edit-form svg {
    font-size: 17px;
}

.session-window .list-group .btn {
    border-radius: 0;
    padding: 7px;
}

.session-window .card-header {
    display: block;
}

.session-window .session-window-title:hover {
    color: #2188f6;
    cursor: pointer;
}

.card-link {
    color: black;
}

.card-link:hover {
    color: #2188f6;
    cursor: pointer;
}

.total-sessions {
    margin-left: 10px;
    color: #0d6efd;
    padding: 7px;
    font-size: 12px;
    font-weight: 500;
}

.archived-tab-card:not(:first-child) {
    margin-top: 10px;
}

.archived-tab {
    max-height: 30px;
}

.archived-tab .title {
    font-size: 13px!important;
    padding-top: 5px!important;
}

.archived-tab button {
    padding-top: 2px!important;
}

.sync-device-header .name:hover {
    cursor: pointer;
    color: #0d6efd;
}

.synced-device-tabs {
    border-radius: 0;
}

.synced-device-tabs li {
    padding: .25rem .5rem;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.synced-device-tabs li.active {
    background-color: #eff3ff;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card .card-header, .modal-header {
    background: #eff3ff;
}

.synced-device-tabs-header {
    border-bottom: none;
}

.synced-device-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.synced-device-title button:hover {
    color: white!important;
}

.synced-device-title button {
    font-weight: 500;
}

.shared-msg {
    font-size: 11px;
    font-weight: 500!important;
}

.modal-title.h4 {
    font-size: inherit!important;
    font-weight: 500;
}

.collaborated-users-list li.owner {
    background: #eff3ff;
}

.btn.text-white:hover {
    color: #ffffff!important;
}